@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@600&display=swap');
*{
 padding: 0;
 margin: 0;
box-sizing: border-box;
text-decoration: none;
}
body{
font-size: 100%;
background: linear-gradient(68.15deg, #1d3a62 16.62%, #67656d 85.61%);
}
.cabecalho{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
padding: 20px;
}
.logo-principal{
 height: 8rem;
}
.menu{
    display: flex;
    gap: 3rem;

}
.botao{
    font-family: 'Trispace', sans-serif;
    color: aliceblue;
    font-size: 18px;
}
.conteudo{
    margin-bottom: 48px;
    border-top:solid 1px  aliceblue;
}
.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;

}
.conteudo-principal-titulo{
    font-family: 'Trispace', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: aliceblue;
}
.conteudo-principal-subtitulo{
    font-family: 'Trispace', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: aliceblue;  
}
.conteudo-principal-botao{
    background-color: burlywood;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}
.conteudo-principal-imagem{
    margin-top: 40px;
    height: 400px;
}
.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 50px;
}
.conteudo-secundario-titulo{
    border-top:solid 1px aliceblue ;
    padding-top: 40px;
}
.rodape{
    border-top: solid 1px aliceblue  ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rodape-imagem{
    margin: 20px;
    height: 100px;
}





